html {
    font-family: "Lucida Sans", sans-serif;
}
.darkshadow
{
   background-color: #ddd;
   width: 650px;
   padding: 10px;
   
   box-shadow: 10px 10px 15px #000;
   -webkit-box-shadow: 10px 10px 15px #000;
   -moz-box-shadow: 10px 10px 15px #000;
}

.lightshadow
{  
   background-color: #999;
   width: 350px;
   padding: 10px;
   color: #fff66;
   height: 150px;
   box-shadow: 4px 4px 2px #ffc;
   -webkit-box-shadow: 4px 4px 2px #ffc;
   -moz-box-shadow: 4px 4px 2px #ffc;
} 

.innershadow
{  
   background-color: #fff;
   width: 350px;
   padding: 10px;
  height: 160px;
   -moz-box-shadow: inset 0 0 1em gold;
   -webkit-box-shadow: inset 2px 2px 1em gold;
   box-shadow: inset 1px 1px 1em gold;
}
